:root {
    --small: 2%;
    --medium: 3%;
    --big: 10%;
    --grayColor: lightgray;
    --border: 1px solid black;
    --baseFontSize:1em;
    --bigFontSize:1.1em;
  }
  @font-face {
      font-family:os ;
      src: url(./OpenSans-VariableFont_wdth,wght.ttf);
  }
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: os;  
  }