@import url(base.css);
body {
  display: flex;
  flex-direction: column;
  font-size: var(--baseFontSize);
}
body > * {
  margin-left: var(--medium);
  margin-right: var(--medium);
  margin-bottom: var(--small);
}
body:nth-child(1) {
  margin-top: var(--medium);
}
main {
  display: flex;
  flex-wrap: wrap;
}
h1 {
  display: flex;
  align-items: center;
  font-size: x-large;
}
h2 {
  font-size: large;
}
h1>span{
  margin-left: 1%;
}
h1 img {
  display: none;
}
h2 {
  margin-bottom: var(--small);
}
a {
  text-decoration: none;
}
footer > span {
  display: none;
}
footer img {
  width: 1em;
}
main > section {
  padding: var(--small);
  border-bottom: var(--border);
}

.introduction {
  width: 100%;
  font-size: larger;
  background-color: var(--grayColor);
}
.teaching:hover,
.developing:hover {
  background-color: lightslategray;
}

@media (min-width: 768px) {
  /*tablets and desktops*/
  body {
    font-size: var(--bigFontSize);
  }
  h1 img {
    display: inline;
    width: 3em;
    border: var(--border);
    border-radius: 50%;
  }
  footer > span {
    display: inline;
  }
  main > section {
    width: 50%;
  }
  main > section:nth-child(3) {
    border-left: var(--border);
  }
}
