:root {
  --small: 5%;
  --medium: 5%;
  --grayColor: lightgray;
  --border: 1px solid black;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
}
body > * {
  margin-left: var(--medium);
  margin-right: var(--medium);
  margin-bottom: var(--small);
}
body:nth-child(1) {
  margin-top: var(--medium);
}
main {
  display: flex;
  flex-wrap: wrap;
}

h2{
    margin-bottom: var(--small);
}

main > section {
  padding: var(--small);
  border-bottom: var(--border);
}

.introduction {
  width: 100%;
  font-size: larger;
  background-color: var(--grayColor);
}
.teaching:hover,
.developing:hover {
  background-color: lightslategray;
}

@media (min-width: 768px) {
  /*tablets and desktops*/
  main > section {
    width: 50%;
  }
  main > section:nth-child(3) {
    border-left: var(--border);
  }
}
