@import url(base.css);
html,
body,
main {
  height: 99%;
}
body {
  color: white;
  background-image: url(/images/yavneel.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: strech;
  font-size: var(--bigFontSize);
}
main {
  display: flex;
  flex-flow: column;
  background-color: rgba(100, 100, 100, 0.7);
  align-items: stretch;
  padding: var(--medium);
  margin-top: var(--small);
  margin-left: var(--small);
  margin-right: var(--small);
  align-content: center;
  justify-content: space-evenly;
}
img {
  width: var(--bigFontSize);
}
ul {
  list-style-type: disc;
  list-style-position: inside;
}
a {
  text-decoration: none;
  color: limegreen;
}
section {
  padding-top: var(--small);
  padding-bottom: var(--small);
  border-top: var(--border);
  border-bottom: var(--border);
}
/* footer > span {
  display: block;
} */
.responsibility {
  list-style-type: "* ";
}
@media (min-width: 768px) {
  /*tablets and desktops*/
  html,
  body {
    height: 95%;
  }
  main {
    height: auto;
    display: flex;
    flex-flow: column;
    background-color: rgba(100, 100, 100, 0.7);
    align-items: center;
    padding: var(--small);
    margin-top: var(--small);
    margin-left: var(--big);
    margin-right: var(--big);
  }
  footer > span {
    display: inline;
  }
}
