@import url(base.css);

body {
  display: flex;
  flex-direction: column;
}
body:nth-child(1) {
  margin-top: var(--medium);
}
main {
  display: flex;
  flex-wrap: wrap;
}
h1 {
  display: flex;
  align-items: center;
}

h1 > span {
  margin-left: 1%;

  animation-name: changeColor;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
h1 >span:nth-child(3),span:nth-child(4){
  display: none;
}
h1 img {
  /* display: none; */
    width: 2em;
    border: var(--border);
    border-style: dashed;
    border-radius: 50%;

    animation-name: changeBorderColor;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}
h2 {
  margin-bottom: var(--small);
}
a {
  text-decoration: none;
}
footer img {
  width: 1em;
}

main > section {
  padding: var(--small);
  border-bottom: var(--border);
}
/* 
main > section:hover {
  background-color: lightslategray;

  color: white;
  animation-name: changeColor;
  animation-duration: 4s;
  animation-iteration-count: infinite;
} */
.techstack,
.introduction {
  width: 100%;
}
.introduction {
  font-size: larger;
  background-color: var(--grayColor);
}

@media (min-width: 768px) {
  /*tablets and desktops*/
  h1 img {
    width: 4em;
  }
  h1 >span:nth-child(3),span:nth-child(4){
    display: inline;
  }
  main > section {
    width: 50%;
  }
  main > section:nth-child(3) {
    border-left: var(--border);
  }
}
