@import url(base.css);

body {
  display: flex;
  flex-direction: column;
}
body:nth-child(1) {
  margin-top: var(--medium);
}
main {
  display: flex;
  flex-wrap: wrap;
}
h1 {
  display: flex;
  align-items: center;

  animation-name: changeColor;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

h1 span {
  margin-left: 1%; 
}

h1 img {
  /* display: none; */
  width: 2em;
  border: var(--border);
  border-style: dashed;
  border-radius: 50%;
}
h2{
  margin-bottom: var(--small);
}
a {
  text-decoration: none;
}
footer img {
  width: 1em;
}

main > section {
  padding: var(--small);
  border-bottom: var(--border);
}

.introduction {
  font-size: larger;
  background-color: var(--grayColor);
}

@media (min-width: 768px) {
  /*tablets and desktops*/
  h1 img {
    width: 2em;
  }
  
}
